<!DOCTYPE html>
<html lang="en">
<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
	</head>
</head>
<body class="single is-preload">
    {%extends 'base.html'%}
    {%block title%}Contact-{%endblock%}
    {%block body%}
    <div  class='quote'>
        <div class='quote-text'>
            <h3>"Each sunset presents an invaluable opportunity for renewal, while every sunrise beckons the commencement of a new day through refreshed perspectives."

            </h3>
        </div>
    </div>
<div class='box'>
        <h2>Contact Us</h2>
        <form method='post' action='/contact'>

            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Your Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" required></textarea>
            <button type="submit" class="button large "> Submit</button>
            
        </form>
</div>                    
{%endblock%}                   
</body>
</html>