<!DOCTYPE html>
<html lang="en">
<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body class="single is-preload">
    {%extends 'base.html'%}
    {%block title%}SignIn-{%endblock%}
    {%block body%}
    

     
    <div class="container">
        <h1>Login</h1>
        {%with message=get_flashed_messages()%}
           {%if message %}
              {{message[0]}}
           {%endif%}
        {%endwith%}
        <form method='post'>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="button large "> Login</button>
        </form>
        <h5><a href="{{url_for('signin')}}">Create an account</a> </h5>
    </div>
   
{%endblock%}
</body>
</html>